.underlined-a {
  text-decoration: none;
  color: #72f58f;
  padding-bottom: 0.15em;
  box-sizing: border-box;
  box-shadow: inset 0 -0.2em 0 aqua;
  transition: 0.2s;
  &:hover {
    color: white;
    box-shadow: inset 0 -2em 0 aqua;
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
}

.brk-btn {
    text-decoration: none;
    position: relative;
    background: none;
    color: #72f58f;
    font-weight: 600;
    text-decoration: none;
    border: 0.2em solid #72f58f;
    padding: 0.5em 1em;

  &::before {
    text-decoration: none;
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: white;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
  &::after {
    text-decoration: none;
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: white;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
  &:hover {
    &::before {
      text-decoration: none;
      right: 80%;
    }
    &::after {
      text-decoration: none;
      left: 80%;
    }
  }
}

.brk-btn2 {
    text-decoration: none;
    position: relative;
    background: none;
    color: #72f58f;
    font-weight: 600;
    text-decoration: none;
    border: 0.2em solid #72f58f;
    padding: 0.5em 1em;

  &::before {
    text-decoration: none;
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #f4f4f4;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
  &::after {
    text-decoration: none;
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #f4f4f4;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
  &:hover {
    &::before {
      text-decoration: none;
      right: 80%;
    }
    &::after {
      text-decoration: none;
      left: 80%;
    }
  }
}
